<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="css/userprofile.css" />
    <title>Personal Profile</title>
</head>

<body>
    <div class="page-container">
    <%- include ("../partials/navbar") %>
    <div class="prsnl-profile-content-big-container d-flex">

        <h1 class='responsive-text'><%= name %></h1>
            <div class="user-img-content-container col-md-4 d-flex flex-column justify-content-center align-items-center">
                <div class="user-profile-img">
                        <figure class='user-profile-figure'>
                            <!-- <img class='img-fluid rounded user-profile-img'src='<%= imageurl %>'> -->
                            <img class='img-fluid rounded user-profile-img' src='https://images.unsplash.com/photo-1488802484013-f23aca1e2d9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'>
                            <figcaption>@<%= username %>, <%=age%></figcaption>
                        </figure>
                </div> 
                <div class="change-picture-container d-flex flex-column text-align-center mt-5">
                    <form action='/profile-img-upload' method='POST' class='update-img-option' enctype="multipart/form-data">
                        <input type="file"
                                id='profile-img-input'
                                name="uploadedimg"
                                accept="image/png, image/jpeg">
                        <button class='btn btn-outline-dark btn-lg update-img-btn'type='submit'>Update Image</button>
                    </form>
                    <form action='/settings' method='GET' class='profile-options'>
                        <button class='btn btn-outline-dark btn-lg mt-3 pl-5 pr-5'type='submit'> Settings </button>
                    </form>
                       
                </div>
            </div>

    <div class="user-content-container">
        
        <div class="user-profile-content-container d-flex flex-column align-items-center p-4">
            <h3 class='text-center font-weight-bold '>Personal Profile<button type='button' class='btn btn-info ml-3 profile-edit-btn'>Edit</button></h5>
                
            <h4 class='user-content-name m-3 mt-2'><%= name %></h1>
            <h5>Age: <%= age %></h2>
            <form class='profile-edit-bio' action='/bio-update' method='POST'>
                <textarea name='biotext' class='rounded 'id='biotext' rows='4' cols='50'placeholder="Tell people about yourself" max-length='200' type='text' ></textarea>
                <button type='submit' class='btn btn-info m-3 mb-5 bio-save-btn'>Save</button>
            </form>
            <p class='border rounded profile-bio-text mt-3 p-3'><%=bio%></p>
            
        
            <!-- preferences -->
           
            <div class='preferences-container d-flex justify-content-between w-100'>
                
                    <ul class="list-group col-md-6">
                        <li class="list-group-item list-item-first">Smoking</li>
                        <li class="list-group-item ">Active</li>
                        <li class="list-group-item custom-active ">Alcohol</li>
                        <li class="list-group-item">Religious </span></li>
                    </ul>
                    <ul class="list-group col-md-6">
                        <li class="list-group-item list-item-first">Political</li>
                        <li class="list-group-item custom-active">Traveller</li>
                        <li class="list-group-item">Marriage &emsp;</li>
                        <li class="list-group-item">Casual </span></li>
                    </ul>

            </div>

            <div class="instagram-link-container d-flex align-items-center mt-5">
                <div class="icon-ig-content">
                    <i class='fab fa-instagram brand-icon-ig mr-3' style='font-size:36px'></i>
                </div>
                <!-- <div class="link-ig-content">
                    <a href='/'>Connect to Instagram</a>
                </div> -->

            </div>
        </div>
    </div>
    </div>
    </div>
    <script src='/js/profile.js'></script>
  </body>
</html>