<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="css/userprofile.css" />
    <title>Settings</title>
</head>

<body>
    <div class="page-container settings-page-container">
    <%- include ("../partials/navbar") %>
    <div class="prsnl-profile-content-big-container d-flex">

        
        <div class=" user-img-content-container col-md-4 d-flex flex-column align-items-center">
            <h3 class='mobile-heading-text mb-3 font-weight-bold'>Settings</h3>
            <div class="user-profile-img">
                <figure class='user-profile-figure'>
                    <!-- <img class='img-fluid rounded user-profile-img'src='<%= imageurl %>'> -->
                    <img class='img-fluid rounded user-profile-img' src='https://images.unsplash.com/photo-1488802484013-f23aca1e2d9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'>
                    <figcaption>@<%= username %>, <%=age%></figcaption>
                </figure>
            </div> 
                <div class="change-picture-container mt-5">
                    <form action='/profile' method='GET'>
                        <button class='btn btn-outline-dark btn-lg mt-3'type='submit'> Back to Profile </button>
                    </form>
                </div>
            </div>

    <div class="user-content-container col-md-8">
            <!-- preferences -->
            <h5 class='text-center p-5'>Settings</h5>
            <div class='preferences-container d-flex justify-content-center '>

                    <ul class="list-group col-md-6">
                        <a href='#' class='settings-list-item-link'><li class="list-group-item list-item-first">Report Abuse</li></a>
                        <a href='#' class='settings-list-item-link'><li class="list-group-item">Terms and Agreements</li></a>
                        <a href='/privacy-policy' class='settings-list-item-link'><li class="list-group-item">Privacy Policy </li></a>
                        <a href='/help' class='settings-list-item-link'><li class="list-group-item">Help </span></li></a>
                        <a href='/faq' class='settings-list-item-link'><li class="list-group-item">FAQ </span></li></a>

                    </ul>
            </div>

        
    </div>
    </div>
</div>

  </body>
</html>